
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Category</th>
        <th>State</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Sport</td>
        <td>Active</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Software</td>
        <td>Active</td>
    </tr>
</table>

