@using MvcProject.EntityLayer.Concrete
@model List<Category>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<br />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Description</th>
        <th>Delete</th>
        <th>Update</th>
        <th>Headings</th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <th>@item.ID</th>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td><a href="/AdminCategory/DeleteCategory/@item.ID" class="btn btn-danger">Delete</a></td>
            <td><a href="/AdminCategory/EditCategory/@item.ID" class="btn btn-warning">Update</a></td>
            <td><a href="#" class="btn btn-primary">Heading</a></td>
        </tr>
    }

</table>

<a href="/AdminCategory/AddCategory" class="btn btn-info">New Category</a>
