@using MvcProject.EntityLayer.Concrete
@model List<About>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>About Data List</h2>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>About Heading</th>
        <th>Activate</th>
        <th>Make it Passive</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ID</td>
            <td>Heading</td>
            <td><a href="#" class="btn btn-warning">Activate</a></td>
            <td><a href="#" class="btn btn-danger">Make it passive</a></td>
        </tr>
    }
</table>

@Html.Action("AboutPartialPopUp", "About")