
@{
    Layout = null;
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<h1>Add New Category Page</h1>
<br />
<form class="form-group" method="post">
    <input name="CategoryName" type="text" placeholder="Category Name" class="form-control" />
    <br />
    <input name="CategoryDescription" type="text" placeholder="Category Description" class="form-control" />
    <br />
    <button class="btn btn-primary">Add</button>
</form>